/* styles.css */
.sticky-sidebar {
  position: -webkit-sticky; /* Pour Safari */
  position: sticky;
  top: 0;
  height: 100vh; /* Hauteur de la fenêtre */
  overflow-y: auto; /* Défilement vertical si nécessaire */
  background: #fff; /* Couleur de fond */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
}


/* styles.css */
.fixed-sidebar {
  position: fixed;
  padding: 0px 4px;
  top: 0;
  left: 0; /* ou right: 0; si votre sidebar est à droite */
  height: 100vh; /* Hauteur de la fenêtre */
  overflow-y: auto; /* Défilement vertical si nécessaire */
  overflow-x: hidden; /* Défilement vertical si nécessaire */
  background: #fff; /* Couleur de fond */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  width: fit-content; /* Largeur de la sidebar */
  box-shadow: 0 10px 10px -5px #0000005c;
}
